<main>
  <div class="container">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Llamadas Inbound">
        <div id="loader" *ngIf="loader">
          <mat-spinner></mat-spinner>
        </div>
        <app-inbound (loader)="actualizaLoader($event)"></app-inbound>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>
