<div class="example-container">
  <table mat-table [dataSource]="dataSource" class="">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- campanaGral -->
    <ng-container matColumnDef="campanaGral">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        Campaña General
      </th>
      <td mat-cell *matCellDef="let element">{{ element.campanaGral }}</td>
    </ng-container>

    <!-- outLead -->
    <ng-container matColumnDef="outLead">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">Out Lead</th>
      <td mat-cell *matCellDef="let element">
        {{ this.formateador.format(element.outLead) }}
      </td>
    </ng-container>

    <!-- outNpc -->
    <ng-container matColumnDef="outNpc">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">Out NPC</th>
      <td mat-cell *matCellDef="let element">
        {{ this.formateador.format(element.outNpc) }}
      </td>
    </ng-container>

    <!-- outConv -->
    <ng-container matColumnDef="outConv">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        Out Conversión
      </th>
      <td mat-cell *matCellDef="let element">{{ element.outConv }}%</td>
    </ng-container>

    <!-- telLead -->
    <ng-container matColumnDef="telLead">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">Tel Lead</th>
      <td mat-cell *matCellDef="let element">
        {{ this.formateador.format(element.telLead) }}
      </td>
    </ng-container>

    <!-- telNpc -->
    <ng-container matColumnDef="telNpc">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">Tel NPC</th>
      <td mat-cell *matCellDef="let element">
        {{ this.formateador.format(element.telNpc) }}
      </td>
    </ng-container>

    <!-- telConv -->
    <ng-container matColumnDef="telConv">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        Tel Conversión
      </th>
      <td mat-cell *matCellDef="let element">${{ element.telConv }}%</td>
    </ng-container>

    <!-- inLead -->
    <ng-container matColumnDef="inLead">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">In Lead</th>
      <td mat-cell *matCellDef="let element">
        {{ this.formateador.format(element.inLead) }}
      </td>
    </ng-container>

    <!-- inNpc -->
    <ng-container matColumnDef="inNpc">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">In NPC</th>
      <td mat-cell *matCellDef="let element">
        {{ this.formateador.format(element.inNpc) }}
      </td>
    </ng-container>

    <!-- inConv -->
    <ng-container matColumnDef="inConv">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        In Conversión
      </th>
      <td mat-cell *matCellDef="let element">{{ element.inConv }}%</td>
    </ng-container>

    <!-- onlLead -->
    <ng-container matColumnDef="onlLead">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">Onl Lead</th>
      <td mat-cell *matCellDef="let element">
        {{ this.formateador.format(element.onlLead) }}
      </td>
    </ng-container>

    <!-- onlNpc -->
    <ng-container matColumnDef="onlNpc">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">Onl NPC</th>
      <td mat-cell *matCellDef="let element">
        {{ this.formateador.format(element.onlNpc) }}
      </td>
    </ng-container>

    <!-- onlConv -->
    <ng-container matColumnDef="onlConv">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        Onl Conversión
      </th>
      <td mat-cell *matCellDef="let element">
        {{ this.formateador.format(element.onlConv) }}%
      </td>
    </ng-container>

    <!-- gralLead -->
    <ng-container matColumnDef="gralLead">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        General Lead
      </th>
      <td mat-cell *matCellDef="let element">
        {{ this.formateador.format(element.gralLead) }}
      </td>
    </ng-container>

    <!-- gralNpc -->
    <ng-container matColumnDef="gralNpc">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        General NPC
      </th>
      <td mat-cell *matCellDef="let element">
        {{ this.formateador.format(element.gralNpc) }}
      </td>
    </ng-container>

    <!-- gralConv -->
    <ng-container matColumnDef="gralConv">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        General Conversión
      </th>
      <td mat-cell *matCellDef="let element">{{ element.gralConv }}%</td>
    </ng-container>

    <!-- pCobrada -->
    <ng-container matColumnDef="pCobrada">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        Póliza Cobrada
      </th>
      <td mat-cell *matCellDef="let element">
        ${{ this.formateador.format(element.pCobrada) }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
