table {
  width: 100%;
  margin: 15px;
}

.example-container {
  width: 100%;
  height: 420px;
  overflow-x: scroll;
}

.mat-header-row {
  background-color: #bac6e7;
}

.mat-column-campanaGral,
.mat-column-outLead,
.mat-column-outNpc,
.mat-column-outConv,
.mat-column-telLead,
.mat-column-telNpc,
.mat-column-telConv,
.mat-column-inLead,
.mat-column-inNpc,
.mat-column-inConv,
.mat-column-onlLead,
.mat-column-onlNpc,
.mat-column-onlConv,
.mat-column-gralLead,
.mat-column-gralNpc,
.mat-column-gralConv,
.mat-column-pCobrada {
  font-size: 12px;
  text-align: center;
  width: auto;
  padding: 0 25px;
}

.tiutloColumna {
  font-size: 14px;
}

.resaltarSubtotal {
  border: #4363ac 2px solid;
  box-shadow: 0px 0px 8px 2px rgba(110, 151, 245, 1);
}

.resaltarTotalGral {
  border: #3db120 2px solid;
  box-shadow: 0px 0px 8px 2px rgb(104, 229, 105, 1);
}
