<main>
  <section class="banner-and-info">
    <img class="banner-1" src="assets/images/banner-1.svg" alt="" />
  </section>

  <mat-card style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px">
    <h2 class="title">Reportería</h2>
    <p>Para acceder debes usar tu cuenta de la empresa.</p>

    <!--    GOOGLE LOGIN BUTTON -->
    <div id="my-signin2" class="google-btn"></div>
    <!-- <a href="#" (click)="signOut()">Sign out</a> -->
  </mat-card>
</main>
