main {
  width: 100%;
  height: 100vh;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(45deg, white 60%, #2f4579 100%);
}

mat-card {
  width: 400px;
  height: 190px;
  text-align: center;
  padding: 10px;
  overflow: auto;
  background: white;
}

.google-btn {
  padding: 0 10px;
  margin-top: 35px;
}
