<main>
  <div class="container">
    <!-- <h1 class="mt-5 mb-4" style="text-align: center">Venta Nueva Detalles</h1> -->

    <!-- CALENDARIO -------------------- -->
    <div class="row" id="function-bar">
      <div id="function-bar-content">
        <div class="d-flex justify-content-center">
          <mat-spinner *ngIf="loader" [diameter]="30"></mat-spinner>
        </div>
        <div *ngIf="!loader" class="d-flex justify-content-between">
          <app-calendario
            id="calendario"
            (fechasSeleccionadas)="leeFechasSeleccionadas($event)"
            (descargaHabilitada)="leeDescargaHabilitada($event)"
            class="me-auto bd-highlight"
          ></app-calendario>
          <h3
            id="function-bar-element"
            *ngIf="fechaInicio && fechaFin"
            class="me-auto bd-highlight"
          >
            Fecha Inicial: {{ fechaInicio }} &nbsp;&nbsp;-&nbsp;&nbsp; Fecha
            Final:
            {{ fechaFin }}
          </h3>
          <div id="function-bar-element">
            <button
              mat-stroked-button
              color="accent"
              matTooltip="Campañas"
              (click)="descargaCampannas()"
            >
              <mat-icon>save_alt</mat-icon>
            </button>
            <button
              mat-stroked-button
              color="primary"
              matTooltip="Campaña x Compañia"
              (click)="descargaCamxCia()"
            >
              <mat-icon>save_alt</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <mat-tab-group dynamicHeight>
      <!-- -------------------- VENTA NUEVA------------------------>
      <!-- -------------------- VENTA NUEVA------------------------>
      <!-- -------------------- VENTA NUEVA------------------------>

      <mat-tab label="Venta Nueva">
        <div>
          <!-- FILA 1 ------------->

          <div class="row mb-3">
            <div class="col">
              <app-tabla
                [color]="'#bac6e7'"
                [titulo]="'Outbound'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion1"
                [datos]="[outbound[0]]"
              ></app-tabla>
            </div>
            <div class="col">
              <app-tabla
                [color]="'#f7caac'"
                [titulo]="'Mejor Precio'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion4"
                [datos]="[mejorPrecio[0]]"
              ></app-tabla>
            </div>
            <div class="col">
              <app-tabla
                [color]="'#fdfd55'"
                [titulo]="'Full Online'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion1"
                [datos]="[fullOnline[0]]"
              ></app-tabla>
            </div>
          </div>

          <!-- FILA  2----------------->
          <div class="row mb-3">
            <div class="col">
              <app-tabla
                [color]="'#bac6e7'"
                [titulo]="'Interacciones Online'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion1"
                [datos]="[interaccionesOnline[0]]"
              ></app-tabla>
            </div>
            <div class="col">
              <app-tabla
                [color]="'#f7caac'"
                [titulo]="'Cobranza'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion4"
                [datos]="[cobranza[0]]"
              ></app-tabla>
            </div>
            <div class="col">
              <app-tabla
                [color]="'#fff'"
                [titulo]="'Subtotal'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion3"
                [datos]="[subTotal[0]]"
              ></app-tabla>
            </div>
          </div>

          <!-- FILA 3 -------------------->
          <div class="row mb-3">
            <div class="col">
              <app-tabla
                [color]="'#bac6e7'"
                [titulo]="'Interacciones Telefónica'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion1"
                [datos]="[interaccionesTelefonica[0]]"
              ></app-tabla>
            </div>
            <div class="col">
              <app-tabla
                [color]="'#f7caac'"
                [titulo]="'Retención'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion4"
                [datos]="[retencion[0]]"
              ></app-tabla>
            </div>
            <div class="col">
              <app-tabla
                [color]="'#fff'"
                [titulo]="'Total General'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion3"
                [datos]="[totalGeneral[0]]"
              ></app-tabla>
            </div>
          </div>

          <!-- FILA 4 --------------->
          <div class="row mb-3">
            <div class="col">
              <app-tabla
                [color]="'#bfbfbf'"
                [titulo]="'Inbound'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion2"
                [datos]="[inbound[0]]"
              ></app-tabla>
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>

          <!--fila 5---------------  -->
          <div class="row mb-3">
            <div class="col-4">
              <app-tabla
                [color]="'#fdfd55'"
                [titulo]="'Otros'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion1"
                [datos]="[otros[0]]"
              ></app-tabla>
            </div>
          </div>
        </div>
      </mat-tab>

      <!-- --------------------GASTOS MEDICOS------------------------>
      <!-- --------------------GASTOS MEDICOS------------------------>
      <!-- --------------------GASTOS MEDICOS------------------------>
      <mat-tab label="Gastos Médicos">
        <div>
          <!-- FILA 1 ------------->

          <div class="row mb-3">
            <div class="col">
              <app-tabla
                [color]="'#bac6e7'"
                [titulo]="'Outbound'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion1"
                [datos]="[outbound[1]]"
              ></app-tabla>
            </div>
            <div class="col">
              <app-tabla
                [color]="'#f7caac'"
                [titulo]="'Mejor Precio'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion4"
                [datos]="[mejorPrecio[1]]"
              ></app-tabla>
            </div>
            <div class="col">
              <!-- <app-tabla
                [color]="'#fdfd55'"
                [titulo]="'Full Online'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion1"
                [datos]="vacio"
              ></app-tabla> -->
              <app-tabla
                [color]="'#fff'"
                [titulo]="'Subtotal'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion3"
                [datos]="[subTotal[1]]"
              ></app-tabla>
            </div>
          </div>

          <!-- FILA  2----------------->
          <div class="row mb-3">
            <div class="col">
              <!-- <app-tabla
                [color]="'#bac6e7'"
                [titulo]="'Interacciones Online'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion1"
                [datos]="vacio"
              ></app-tabla> -->
              <app-tabla
                [color]="'#bfbfbf'"
                [titulo]="'Inbound'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion2"
                [datos]="vacio"
              ></app-tabla>
            </div>
            <div class="col">
              <app-tabla
                [color]="'#f7caac'"
                [titulo]="'Cobranza'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion4"
                [datos]="[cobranza[1]]"
              ></app-tabla>
            </div>
            <div class="col">
              <app-tabla
                [color]="'#fff'"
                [titulo]="'Total General'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion3"
                [datos]="[totalGeneral[1]]"
              ></app-tabla>
            </div>
          </div>

          <!-- FILA 3 -------------------->
          <div class="row mb-3">
            <div class="col">
              <!-- <app-tabla
                [color]="'#bac6e7'"
                [titulo]="'Interacciones Telefónica'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion1"
                [datos]="vacio"
              ></app-tabla> -->
            </div>
            <div class="col">
              <app-tabla
                [color]="'#f7caac'"
                [titulo]="'Retención'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion4"
                [datos]="[retencion[1]]"
              ></app-tabla>
            </div>
            <div class="col"></div>
          </div>

          <!-- FILA 4 --------------->
          <div class="row mb-3">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
          </div>

          <!--fila 5---------------  -->
          <div class="row mb-3">
            <div class="col-4">
              <!-- <app-tabla
                [color]="'#fdfd55'"
                [titulo]="'Otros'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion1"
                [datos]="vacio"
              ></app-tabla> -->
            </div>
          </div>
        </div>
      </mat-tab>

      <!-- --------------------PERU------------------------>
      <!-- --------------------PERU------------------------>
      <!-- --------------------PERU------------------------>
      <mat-tab label="Perú">
        <div>
          <!-- FILA 1 ------------->

          <div class="row mb-3">
            <div class="col">
              <app-tabla
                [color]="'#bac6e7'"
                [titulo]="'Outbound'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion1"
                [datos]="[outbound[2]]"
              ></app-tabla>
            </div>
            <div class="col">
              <app-tabla
                [color]="'#f7caac'"
                [titulo]="'Mejor Precio'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion4"
                [datos]="[mejorPrecio[2]]"
              ></app-tabla>
            </div>
            <div class="col">
              <!-- <app-tabla
                [color]="'#fdfd55'"
                [titulo]="'Full Online'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion1"
                [datos]="vacio"
              ></app-tabla> -->
              <app-tabla
                [color]="'#fff'"
                [titulo]="'Subtotal'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion3"
                [datos]="[subTotal[2]]"
              ></app-tabla>
            </div>
          </div>

          <!-- FILA  2----------------->
          <div class="row mb-3">
            <div class="col">
              <!-- <app-tabla
                [color]="'#bac6e7'"
                [titulo]="'Interacciones Online'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion1"
                [datos]="vacio"
              ></app-tabla> -->
              <app-tabla
                [color]="'#bfbfbf'"
                [titulo]="'Inbound'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion2"
                [datos]="vacio"
              ></app-tabla>
            </div>
            <div class="col">
              <app-tabla
                [color]="'#f7caac'"
                [titulo]="'Cobranza'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion4"
                [datos]="[cobranza[2]]"
              ></app-tabla>
            </div>
            <div class="col">
              <app-tabla
                [color]="'#fff'"
                [titulo]="'Total General'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion3"
                [datos]="[totalGeneral[2]]"
              ></app-tabla>
            </div>
          </div>

          <!-- FILA 3 -------------------->
          <div class="row mb-3">
            <div class="col">
              <!-- <app-tabla
                [color]="'#bac6e7'"
                [titulo]="'Interacciones Telefónica'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion1"
                [datos]="vacio"
              ></app-tabla> -->
            </div>
            <div class="col">
              <app-tabla
                [color]="'#f7caac'"
                [titulo]="'Retención'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion4"
                [datos]="[retencion[2]]"
              ></app-tabla>
            </div>
            <div class="col"></div>
          </div>

          <!-- FILA 4 --------------->
          <div class="row mb-3">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
          </div>

          <!--fila 5---------------  -->
          <div class="row mb-3">
            <div class="col-4">
              <!-- <app-tabla
                [color]="'#fdfd55'"
                [titulo]="'Otros'"
                [columnas]="columnas"
                [encabezadoCol]="titulosCoulumasVersion1"
                [datos]="vacio"
              ></app-tabla> -->
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Campañas">
        <app-campannas [tabla]="campannas"> </app-campannas>
      </mat-tab>
      <mat-tab label="Campaña por Compañía">
        <app-camxcia [tabla]="camXCia"></app-camxcia>
      </mat-tab>
    </mat-tab-group>
  </div>
  <br />
</main>
