#function-bar {
  top: 50px;
  position: sticky;
  z-index: 30;
}

#function-bar-content {
  background-color: #e3e9ee;
  border-bottom: #2f4579 1px solid;
  padding: 0;
}

#function-bar-element {
  margin-bottom: 0;
  margin-top: auto;
}

#calendario {
  margin: 0;
}
