<mat-form-field appearance="fill">
  <mat-label>Seleccione un rango de fechas</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Fecha inicial" />
    <input matEndDate formControlName="end" placeholder="Fecha final" />
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
    >Fecha inicial inválida</mat-error
  >
  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
    >Fecha final inválida</mat-error
  >
</mat-form-field>
<button
  id="btn-generar"
  mat-raised-button
  color="primary"
  (click)="generaReporte()"
>
  Generar Reporte
</button>
