<mat-card style="padding: 0">
  <div id="chart" *ngIf="chartOptions">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
      [fill]="chartOptions.fill"
      [yaxis]="chartOptions.yaxis"
      [title]="chartOptions.title"
      [colors]="chartOptions.colors"
      [tooltip]="chartOptions.tooltip"
      [legend]="chartOptions.legend"
    ></apx-chart>
  </div>
</mat-card>
