<h3>
  <span>{{ titulo }}</span>
</h3>
<div class="d-flex justify-content-center">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 demo-table"
    [ngStyle]="{ 'background-color': color }"
    [class.resaltarSubtotal]="resaltarSubtotal"
    [class.resaltarTotalGral]="resaltarTotalGral"
  >
    <!-- leads Column -->
    <ng-container matColumnDef="leads">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        {{ encabezadoCol[0] }}
      </th>
      <td
        mat-cell
        *matCellDef="let element; let i = index"
        [ngClass]="{ mejorPrecioL: i == 1 }"
      >
        {{ element.leads }}
      </td>
    </ng-container>

    <!-- ventas Column -->
    <ng-container matColumnDef="ventas">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        {{ encabezadoCol[1] }}
      </th>
      <td
        mat-cell
        *matCellDef="let element; let i = index"
        [ngClass]="{ mejorPrecioTB: i == 1 }"
      >
        {{ element.ventas }}
      </td>
    </ng-container>

    <!-- conversion Column -->
    <ng-container matColumnDef="conversion">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        {{ encabezadoCol[2] }}
      </th>
      <td
        mat-cell
        *matCellDef="let element; let i = index"
        [ngClass]="{ mejorPrecioR: i == 1 }"
        matTooltip="{{ i === 1 ? 'MEJOR PRECIO' : '' }}"
        matTooltipPosition="right"
      >
        {{ element.conversion }}%
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
