h3 {
  text-align: center;
  margin: 0;
}

.demo-table {
  width: 60%;
}

.mat-column-leads,
.mat-column-ventas,
.mat-column-conversion {
  font-size: 18px;
  font-weight: 650;
  text-align: center;
  width: auto;
  padding: 0 18px;
}

.tiutloColumna {
  font-size: 14px;
}

.resaltarSubtotal {
  border: #4363ac 2px solid;
  box-shadow: 0px 0px 8px 2px rgba(110, 151, 245, 1);
}

.resaltarTotalGral {
  border: #3db120 2px solid;
  box-shadow: 0px 0px 8px 2px rgb(104, 229, 105, 1);
}
