<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-3">
      <mat-card class="tarjeta">
        <mat-card-subtitle class="tituloTarjeta"
          >Total de Llamadas</mat-card-subtitle
        >
        <mat-card-title class="pb-1 pt-1 contenidoTarjeta">
          {{ totalLlamadasFormateado }}
        </mat-card-title>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card class="tarjeta">
        <mat-card-subtitle class="tituloTarjeta"
          >Números Únicos</mat-card-subtitle
        >
        <mat-card-title class="pb-1 pt-1 contenidoTarjeta">
          {{ numerosUnicoFormateado }}
        </mat-card-title>
      </mat-card>
    </div>
  </div>
</div>
