<div>
  <mat-card id="tarjeta">
    <mat-card-title id="titulo">{{ titulo }}</mat-card-title>

    <mat-card-content class="d-flex justify-content-center">
      <mat-form-field>
        <mat-label>{{ placeholder }}</mat-label>
        <mat-select
          [(value)]="defaultValue"
          (selectionChange)="nuevaSeleccion($event)"
        >
          <mat-option>Ninguno</mat-option>
          <mat-option *ngFor="let opcion of options" [value]="opcion.value">
            {{ opcion.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
