<main>
  <h1><b>REPORTERÍA</b></h1>
  <section class="order-items">
    <section class="info1">
      <div class="bubble">
        <p>
          En este sitio vas a poder visualizar y descargar reportes en cualquier
          momento, así podrás monitorear progresos o inconvenientes que hay en
          tu área.
        </p>
      </div>
    </section>
    <img src="assets/images/banner-2.svg" alt="" class="banner1" />
  </section>
  <article class="articles">
    <article class="descriptionAS">
      <h1>
        ¿Debería usar la aplicación de
        <b class="blueText">REPORTERÍA</b>?
      </h1>
      <h3>
        Está aplicación tiene como objetivo ayudarte con el análisis de
        información, aligerando tu carga al momento de consultar y procesar
        datos para que así puedas ahorrar tiempo. Te brindamos herramientas como
        datos mensuales, filtros, gráficos, selección de rango de fechas para
        que consultes todo lo que desees.
      </h3>
    </article>

    <section class="beneficios">
      <div class="iconsOrder">
        <div class="iconsContainer">
          <div class="circleIcon" id="gradient">
            <mat-icon>access_time</mat-icon>
          </div>
          <h4 style="margin: 0"><b>Ahorra tiempo</b></h4>
        </div>

        <div class="iconsContainer">
          <div class="circleIcon" id="gradient">
            <mat-icon>save_alt</mat-icon>
          </div>
          <h4 style="margin: 0"><b>Descarga datos</b></h4>
        </div>

        <div class="iconsContainer">
          <div class="circleIcon" id="gradient">
            <mat-icon>today</mat-icon>
          </div>
          <h4 style="margin: 0"><b>Consulta cualquier fecha</b></h4>
        </div>

        <div class="iconsContainer">
          <div class="circleIcon" id="gradient">
            <mat-icon>account_balance</mat-icon>
          </div>
          <h4 style="margin: 0"><b>Plan de Trabajo</b></h4>
        </div>
      </div>
      <div class="iconsOrder">
        <div class="iconsContainer">
          <div class="circleIcon" id="gradient">
            <mat-icon>filter_list</mat-icon>
          </div>
          <h4 style="margin: 0"><b>Aplica filtros</b></h4>
        </div>

        <div class="iconsContainer">
          <div class="circleIcon" id="gradient">
            <mat-icon>timeline</mat-icon>
          </div>
          <h4 style="margin: 0"><b>Gráficos dinámicos</b></h4>
        </div>

        <div class="iconsContainer">
          <div class="circleIcon" id="gradient">
            <mat-icon> local_library</mat-icon>
          </div>
          <h4 style="margin: 0"><b>Organización</b></h4>
        </div>

        <div class="iconsContainer">
          <div class="circleIcon" id="gradient">
            <mat-icon>update</mat-icon>
          </div>
          <h4 style="margin: 0"><b>Datos actualizados</b></h4>
        </div>
      </div>
    </section>
  </article>

  <footer>
    <div class="extras">
      <img
        src="assets/images/Logo-color-serproinf.svg"
        class="imgFooter"
        alt="Connect logo"
      />
      <img
        src="assets/images/mundito-serproinf.svg"
        class="imgFooter2"
        alt=""
      />
    </div>
  </footer>
</main>
