<header style="z-index: 100">
  <div class="menu-logo-container">
    <mat-icon matTooltip="MENÚ" (click)="drawer.toggle()">menu</mat-icon>
    <img
      (click)="redirectDashboard()"
      src="assets/images/Logo-blanco-serproinf.svg"
      class="logoSerproinf"
      matTooltip="SERPROINF"
      alt="Logo Serproinf"
    />
  </div>
  <h1 style="margin-top: auto; margin-bottom: 0">
    {{ titulo }}
  </h1>
  <div>
    <div class="circle" [matMenuTriggerFor]="menu" matTooltip="Acciones">
      <img src="{{ picture }}" alt="Foto de Perfil" class="img-perfil" />
    </div>
    <mat-menu #menu="matMenu">
      <button (click)="cerrarSesion()" mat-menu-item class="subMenuItems">
        CERRAR SESIÓN
      </button>
    </mat-menu>
  </div>
</header>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side" disableClose>
    <div class="menuItemBox" *ngFor="let menuItem of menuItemsController">
      <a
        class="links"
        routerLink="{{ menuItem.url }}"
        (click)="close(menuItem.destinationName)"
      >
        <mat-icon class="mat-icons-sideBar">{{ menuItem.icon }}</mat-icon>
        {{ menuItem.destinationName }}
      </a>
    </div>

    <div class="menuItemBox">
      <!-- <a class="links" (click)="cerrarSesion()">
        <mat-icon class="mat-icons-sideBar">power_settings_new</mat-icon>&nbsp;
        CERRAR SESIÓN
      </a> -->
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
