<div class="example-container">
  <table mat-table [dataSource]="dataSource" class="">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position tipoSubarea -->
    <ng-container matColumnDef="tipoSubarea">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        Tipo de Subarea
      </th>
      <td mat-cell *matCellDef="let element">{{ element.tipoSubarea }}</td>
    </ng-container>

    <!-- Name Compannia -->
    <ng-container matColumnDef="compannia">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">Compañia</th>
      <td mat-cell *matCellDef="let element">{{ element.compannia }}</td>
    </ng-container>

    <!-- Weight tipoContacto -->
    <ng-container matColumnDef="tipoContacto">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        Tipo de Contacto
      </th>
      <td mat-cell *matCellDef="let element">{{ element.tipoContacto }}</td>
    </ng-container>

    <!-- Symbol contactosProd -->
    <ng-container matColumnDef="contactosProd">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        Contactos Producidos
      </th>
      <td mat-cell *matCellDef="let element">
        {{ this.formateador.format(element.contactosProd) }}
      </td>
    </ng-container>

    <!-- Symbol npc -->
    <ng-container matColumnDef="npc">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">NPC</th>
      <td mat-cell *matCellDef="let element">
        {{ this.formateador.format(element.npc) }}
      </td>
    </ng-container>

    <!-- Symbol conversion -->
    <ng-container matColumnDef="conversion">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        Conversión
      </th>
      <td mat-cell *matCellDef="let element">{{ element.conversion }}%</td>
    </ng-container>

    <!-- Symbol Póliza cobrada -->
    <ng-container matColumnDef="pCobrada">
      <th mat-header-cell *matHeaderCellDef class="tiutloColumna">
        Póliza Cobrada
      </th>
      <td mat-cell *matCellDef="let element">
        ${{ this.formateador.format(element.pCobrada) }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
