table {
  width: 100%;
  margin: 15px;
}

.example-container {
  height: 420px;
  max-width: 100%;
  overflow: auto;
}

.mat-header-row {
  background-color: #bac6e7;
}

.mat-column-tipoSubarea,
.mat-column-compannia,
.mat-column-tipoContacto,
.mat-column-contactosProd,
.mat-column-npc,
.mat-column-conversion,
.mat-column-pCobrada {
  font-size: 12px;
  text-align: center;
  width: auto;
  padding: 0 18px;
}

.tiutloColumna {
  font-size: 14px;
}

.resaltarSubtotal {
  border: #4363ac 2px solid;
  box-shadow: 0px 0px 8px 2px rgba(110, 151, 245, 1);
}

.resaltarTotalGral {
  border: #3db120 2px solid;
  box-shadow: 0px 0px 8px 2px rgb(104, 229, 105, 1);
}
