<div class="container" *ngIf="todasLasLlamadas">
  <!-- Apartado de Filtros -->
  <div class="row mb-5">
    <div
      class="col-2 filtro-contenedor"
      *ngFor="let filtro of filtrosArgumentos; index as i"
    >
      <app-filtro-card
        [id]="i"
        [opciones]="filtrosArgumentos[i].opciones"
        [titulo]="filtrosArgumentos[i].titulo"
        [placeholder]="filtrosArgumentos[i].placeholder"
        [defaultValue]="filtrosArgumentos[i].defaultValue"
        (opcionSeleccionada)="leeFiltroCard($event)"
      ></app-filtro-card>
    </div>
  </div>

  <!-- Apartado de cards total llamadas y numeros unicos -->
  <div class="row">
    <div class="col">
      <app-card [datos]="todasLasLlamadasFiltros"></app-card>
    </div>
  </div>
  <!------------------ Grafico Llamadas por Hora------->
  <div class="row grafico-contenedor">
    <div class="col">
      <app-bar-chart
        [datos]="todasLasLlamadasFiltros | separarPorHora: fechaActual"
        [fechaYHora]="fechaActual"
        [estatus]="estatus"
        [colores]="colores"
      ></app-bar-chart>
    </div>
  </div>

  <!------------------ Grafico Atendidas por Ejecutivo------->
  <div class="row grafico-contenedor">
    <div class="col">
      <app-stacked-chart
        [datos]="todasLasLlamadasFiltros | extraerLlamadasDelMes: fechaActual"
        [yTitulos]="columnasAtendidas"
        [tituloGrafico]="tituloAtendidas"
        [estatus]="estatus"
        [colores]="colores"
      ></app-stacked-chart>
    </div>
  </div>

  <!------------------ Grafico Llamadas del mes------->
  <div class="row grafico-contenedor">
    <div class="col">
      <app-stacked-chart
        [datos]="todasLasLlamadasFiltros | extraerLlamadasDelMes: fechaActual"
        [yTitulos]="[mesActual]"
        [tituloGrafico]="tituloGraficoMes"
        [estatus]="estatus"
        [colores]="colores"
      ></app-stacked-chart>
    </div>
  </div>

  <!------------------ Grafico Llamadas Días del mes------->
  <div class="row grafico-contenedor">
    <div class="col">
      <app-mix-charts
        [datos]="todasLasLlamadasFiltros | separarLlamadasPorDia: fechaActual"
        [fechaYHora]="fechaActual"
        [estatus]="estatus"
        [colores]="colores"
      ></app-mix-charts>
    </div>
  </div>
</div>
