#titulo {
  text-align: center;
  margin: 35px 0;
  padding: 0;
}

.filtro-contenedor {
  padding: 0;
  margin: 20px 10px;
}

#btn-limpiar-filtros {
  display: flex;
  justify-content: center;
  align-items: center;
}
